/* Desenvolva a estilização da sua página aqui */
.main {
    display: flex;
    flex-direction: column;
    margin-top: 1.75rem;
    gap: 1rem;    
}

.section-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.section-cards .sum-values {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.875rem 1rem 0.875rem 1rem;
    border: 1px solid var(--color-grey-4);
    border-radius: var(--radius-1);
    background-color: var(--color-grey-4);
}

.section-cards .sum-values h3{
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-2);
}

.section-cards .sum-values span{
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-2);
}

.cards-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}